#root {
  margin: 0 auto;
  text-align: center; 
  max-width: 90%;
  width: 85%;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  min-height: 100vh;
}

.search-message {
  width: 100%;
  text-align: center;
}

.icon-container {
  display: flex;
  flex-wrap: wrap;
}

.icon-item {
  /* flex-grow: 1; */
  text-align: center;
  padding: 2rem;
  width: 10rem;
  margin: 1.10rem;
  border-radius: 10px;
  background-color: #37474F;
  border: .25rem solid #37474F;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  transition: all 500ms;
}

.icon-item:hover {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  background-color: #455A64;
  border-color: #455A64;
  font-size: 1.5rem;
}

.icon-item:hover .icon > svg{
  height: 50px;
  width: 50px;
}

.icon-item.selected {
  border: .25rem solid #607D8B;
}

.icon-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.icon {
  min-height: 40px;
  min-width: 40px;
  padding: .25rem;
  text-align: center;
  color: white;
  cursor: pointer;
  border: 3px transparent solid;
  border-radius: 10px;
  transition: all 500ms;
}

.icon:hover {
  background-color: #607D8B;
  border: 3px #78909C solid;
}



.form-group > * {
  margin: 1rem 0px;
  display: block;
  text-align: left;
}

.form-group > input[type="text"] {
  padding: 0.5rem;
  background-color: #455A64;
  border: none;
  border-radius: 5px;
  outline: none;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.10rem;
  font-weight: 100;
  width: calc(100% - 1rem);
}

.icon > svg{
  height: 40px;
  width: 40px;
  color: white;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
  transition: all 500ms;
}


.icon-info {
  text-align: center;
}

@media screen and (max-width: 659px) {
  #root {
    width: 90%;
  }
  
  .icon-item {
    width: 30%;
  }
}

@media (max-width: 578px) {
  .icon-item {
    width: 25%;
  }
}

@media (max-width: 462px) {
  .icon-item {
    width: 100%;
  }
}

/* @media (max-wid) */